In [2]:
data= data.frame ("Usser"= c("john", "eric", "katrin", "marisa", "edward", "chris", "maria", "nick", "jack", "kay"),
                 "CompletionTime"= c(65, 24, 45, 34, 63, 74, 45, 34, 54, 72)
                 )

In [3]:
data

   Usser  CompletionTime
1  john   65
2  eric   24
3  katrin 45
4  marisa 34
5  edward 63
6  chris  74
7  maria  45
8  nick   34
9  jack   54
10 kay    72